# The contents of this file are purely for local development
# They are NOT sensitive and should not be used in production
# Populate these values in a .env file in the root of the project and update them as necessary

export DB_USER=<located in contrib/docker-compose-postgres.yml>
export DB_PASSWORD=<located in contrib/docker-compose-postgres.yml>
export SECRET_KEY=<create-a-long-string>
export PGPASSWORD=<located in contrib/docker-compose-postgres.yml>

export AZURE_CLIENT_ID=<client_id for this app on OIDC provider>
export AZURE_TENANT_ID=<tenant_id from azure>
