<!DOCTYPE html>
{% extends "govuk_frontend_django/base.html" %}
{% load static govuk_frontend_django %}

{% block title %}Data Platform Control Panel{% endblock title %}

{% block head %}
    <link href="{% static 'app.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block header %}
    {% url 'data-products' as data_products_url %}
    {% gds_header homepageUrl="/" serviceName="Data Platform Control Panel" serviceUrl="/" containerClasses="govuk-width-container" %}
        {% gds_header_nav_item href="/" text="Home" %}
        {% gds_header_nav_item href=data_products_url text="Data products" %}
    {% endgds_header %}
{% endblock header %}


{% block body_end %}
    <script src="{% static 'assets/js/govuk.js' %}"></script>
    <script>window.GOVUKFrontend.initAll()</script>
{% endblock body_end %}
