{% load static %}
{% load govuk_frontend_django %}


<head>
  <link rel="stylesheet" href="{% static 'app.css' %}">
</head>


<body>
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  {% gds_header homepageUrl="/" productName="Data Platform Control Panel" serviceName="Data Platform Control Panel" serviceUrl="/" %}
      {% gds_header_nav_item href="/" %}
          Data products
      {% endgds_header_nav_item %}
      {% gds_header_nav_item href="/" text="Tools" %}
  {% endgds_header %}

    <script src="{% static 'assets/js/govuk.js' %}"></script>
    <script>
      window.GOVUKFrontend.initAll()
    </script>

</body>
