$govuk-assets-path: "/static/assets/";

 /* stylelint-disable import-notation */
@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";

 /* stylelint-enable */
